.todo:hover {
    background-color: #f9f9f9;
}

.checkbox-custom:hover {
    background-color: rgb(218, 238, 255);
}

.form-check-input {
    width: auto; 
    margin: 0; 
    padding: 0; 
    transform: scale(1);
  }